In [1]:
import pandas as pd

In [2]:
url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [3]:
confirmed = pd.read_csv(url_confirmed) 
deaths = pd.read_csv(url_deaths) 
recovered = pd.read_csv(url_recovered)

In [4]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/27/22,1/28/22,1/29/22,1/30/22,1/31/22,2/1/22,2/2/22,2/3/22,2/4/22,2/5/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,161004,161057,161290,162111,162926,163555,164190,164727,165358,165711
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,252577,254126,254126,255741,258543,258543,261240,261240,263172,263172
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,245698,247568,249310,250774,252117,253520,254885,255836,256806,257598
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,35028,35556,35556,35556,35958,35958,36315,36470,36599,36599
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,97901,98029,98057,98076,98116,98226,98267,98319,98340,98351

In [5]:
total_confirmed = confirmed.melt(
    id_vars=['Province/State','Country/Region','Lat','Long'],
    value_vars=confirmed.columns[4:],
    var_name='date',
    value_name='confirmed')

total_deaths = deaths.melt(
    id_vars=['Province/State','Country/Region','Lat','Long'],
    value_vars=deaths.columns[4:],
    var_name='date',
    value_name='deaths')

total_recovered = recovered.melt(
    id_vars=['Province/State','Country/Region','Lat','Long'],
    value_vars=recovered.columns[4:],
    var_name='date',
    value_name='recovered')
total_confirmed.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed
208875,NaN,Vietnam,14.058324,108.277199,2/5/22,2327859
208876,NaN,West Bank and Gaza,31.952200,35.233200,2/5/22,556550
208877,NaN,Yemen,15.552727,48.516388,2/5/22,11149
208878,NaN,Zambia,-13.133897,27.849332,2/5/22,306777
208879,NaN,Zimbabwe,-19.015438,29.154857,2/5/22,230402

In [6]:
covid_data = total_confirmed.merge(right= total_deaths, how='left', on = ['Province/State','Country/Region','Lat','Long','date'])

In [7]:
covid_data = covid_data.merge(right= total_recovered, how='left', on = ['Province/State','Country/Region','Lat','Long','date'])

In [8]:
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

In [9]:
covid_data.date = pd.to_datetime(covid_data.date)
covid_data.recovered = covid_data.recovered.fillna(0)

In [10]:
covid_data.isna().sum()

Province/State    143978
Country/Region         0
Lat                 1492
Long                1492
date                   0
confirmed              0
deaths                 0
recovered              0
dtype: int64

In [11]:
covid_data['active'] = covid_data.confirmed - covid_data.deaths - covid_data.recovered

In [12]:
covid_data.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered,active
208875,NaN,Vietnam,14.058324,108.277199,2022-02-05,2327859,38261,0.0,2289598.0
208876,NaN,West Bank and Gaza,31.952200,35.233200,2022-02-05,556550,5128,0.0,551422.0
208877,NaN,Yemen,15.552727,48.516388,2022-02-05,11149,2026,0.0,9123.0
208878,NaN,Zambia,-13.133897,27.849332,2022-02-05,306777,3928,0.0,302849.0
208879,NaN,Zimbabwe,-19.015438,29.154857,2022-02-05,230402,5362,0.0,225040.0

In [13]:
covid_data.date.iloc[-1].strftime('%B %d , %Y')

'February 05 , 2022'

In [14]:
covid_data_1 = covid_data.groupby(['date'])[['confirmed','deaths','recovered','active']].sum().reset_index()
covid_data_1

          date  confirmed   deaths  recovered       active
0   2020-01-22        557       17       30.0        510.0
1   2020-01-23        655       18       32.0        605.0
2   2020-01-24        941       26       39.0        876.0
3   2020-01-25       1434       42       42.0       1350.0
4   2020-01-26       2118       56       56.0       2006.0
..         ...        ...      ...        ...          ...
741 2022-02-01  381756438  5689337        0.0  376067101.0
742 2022-02-02  384944189  5701431        0.0  379242758.0
743 2022-02-03  388109962  5712940        0.0  382397022.0
744 2022-02-04  391129461  5726321        0.0  385403140.0
745 2022-02-05  393217243  5734396        0.0  387482847.0

[746 rows x 5 columns]

In [15]:
covid_data_1['confirmed'].iloc[-1]

393217243

In [16]:
round(
    ((covid_data_1['confirmed'].iloc[-1] - covid_data_1['confirmed'].iloc[-2])/covid_data_1['confirmed'].iloc[-1])*100,2)

0.53

In [17]:
covid_data_1.recovered.max()

129357529.0

In [18]:
covid_data_1['recovered'].nlargest(2).iloc[0]

129357529.0

In [19]:
covid_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed','deaths','recovered','active']].sum().reset_index()
covid_data_3 = covid_data_2[covid_data_2['Country/Region']== 'Brazil'][['Country/Region','date','confirmed']].reset_index()
covid_data_3['daily confirmed'] = covid_data_3['confirmed'] - covid_data_3['confirmed'].shift(1)

In [21]:
covid_data_3

      index Country/Region       date  confirmed  daily confirmed
0        23         Brazil 2020-01-22          0              NaN
1       219         Brazil 2020-01-23          0              0.0
2       415         Brazil 2020-01-24          0              0.0
3       611         Brazil 2020-01-25          0              0.0
4       807         Brazil 2020-01-26          0              0.0
..      ...            ...        ...        ...              ...
741  145259         Brazil 2022-02-01   25634781         171251.0
742  145455         Brazil 2022-02-02   25820745         185964.0
743  145651         Brazil 2022-02-03   26107894         287149.0
744  145847         Brazil 2022-02-04   26326454         218560.0
745  146043         Brazil 2022-02-05   26484546         158092.0

[746 rows x 5 columns]

In [22]:
covid_data_3['Rolling ave.'] = covid_data_3['daily confirmed'].rolling(window=7).mean()

In [24]:
covid_data_4 = covid_data.groupby(['Lat','Long', 'Country/Region'])[['confirmed','deaths','recovered','active']].sum().reset_index()
covid_data_4

,Lat,Long,Country/Region,confirmed,deaths,recovered,active
0,-51.7963,-59.5236,United Kingdom,29628,0,14754.0,1.487400e+04
1,-42.8821,147.3272,Australia,854441,8653,101796.0,7.439920e+05
2,-40.9006,174.8860,New Zealand,2626632,18342,964499.0,1.643791e+06
3,-38.4161,-63.6167,Argentina,1850605862,39769717,711610324.0,1.099226e+09
4,-37.8136,144.9631,Australia,41311789,511003,7099128.0,3.370166e+07
...,...,...,...,...,...,...,...
272,64.2823,-135.0000,Canada,287230,2662,0.0,2.845680e+05
273,64.8255,-124.8457,Canada,374127,1521,0.0,3.726060e+05
274,64.9631,-19.0208,Iceland,6124543,16535,2058185.0,4.049823e+06
275,70.2998,-83.1076,Canada,258583,1407,0.0,2.571760e+05
276,71.7069,-42.6043,Denmark,427241,121,11597.0,4.155230e+05

In [25]:
covid_data_list = covid_data[['Country/Region','Lat','Long']]

In [27]:
covid_of_locations = covid_data_list.set_index(['Country/Region'])[['Lat','Long']].T.to_dict('dict')
covid_of_locations

/tmp/ipykernel_6428/2342774228.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  covid_of_locations = covid_data_list.set_index(['Country/Region'])[['Lat','Long']].T.to_dict('dict')

{'Afghanistan': {'Lat': 33.93911, 'Long': 67.709953},
 'Albania': {'Lat': 41.1533, 'Long': 20.1683},
 'Algeria': {'Lat': 28.0339, 'Long': 1.6596},
 'Andorra': {'Lat': 42.5063, 'Long': 1.5218},
 'Angola': {'Lat': -11.2027, 'Long': 17.8739},
 'Antigua and Barbuda': {'Lat': 17.0608, 'Long': -61.7964},
 'Argentina': {'Lat': -38.4161, 'Long': -63.6167},
 'Armenia': {'Lat': 40.0691, 'Long': 45.0382},
 'Australia': {'Lat': -31.9505, 'Long': 115.8605},
 'Austria': {'Lat': 47.5162, 'Long': 14.5501},
 'Azerbaijan': {'Lat': 40.1431, 'Long': 47.5769},
 'Bahamas': {'Lat': 25.025885, 'Long': -78.035889},
 'Bahrain': {'Lat': 26.0275, 'Long': 50.55},
 'Bangladesh': {'Lat': 23.685, 'Long': 90.3563},
 'Barbados': {'Lat': 13.1939, 'Long': -59.5432},
 'Belarus': {'Lat': 53.7098, 'Long': 27.9534},
 'Belgium': {'Lat': 50.8333, 'Long': 4.469936},
 'Belize': {'Lat': 17.1899, 'Long': -88.4976},
 'Benin': {'Lat': 9.3077, 'Long': 2.3158},
 'Bhutan': {'Lat': 27.5142, 'Long': 90.4336},
 'Bolivia': {'Lat': -16.2902, 'Long': -63.5887},
 'Bosnia and Herzegovina': {'Lat': 43.9159, 'Long': 17.6791},
 'Botswana': {'Lat': -22.3285, 'Long': 24.6849},
 'Brazil': {'Lat': -14.235, 'Long': -51.9253},
 'Brunei': {'Lat': 4.5353, 'Long': 114.7277},
 'Bulgaria': {'Lat': 42.7339, 'Long': 25.4858},
 'Burkina Faso': {'Lat': 12.2383, 'Long': -1.5616},
 'Burma': {'Lat': 21.9162, 'Long': 95.956},
 'Burundi': {'Lat': -3.3731, 'Long': 29.9189},
 'Cabo Verde': {'Lat': 16.5388, 'Long': -23.0418},
 'Cambodia': {'Lat': 11.55, 'Long': 104.9167},
 'Cameroon': {'Lat': 3.848, 'Long': 11.5021},
 'Canada': {'Lat': 64.2823, 'Long': -135.0},
 'Central African Republic': {'Lat': 6.6111, 'Long': 20.9394},
 'Chad': {'Lat': 15.4542, 'Long': 18.7322},
 'Chile': {'Lat': -35.6751, 'Long': -71.543},
 'China': {'Lat': 29.1832, 'Long': 120.0934},
 'Colombia': {'Lat': 4.5709, 'Long': -74.2973},
 'Comoros': {'Lat': -11.6455, 'Long': 43.3333},
 'Congo (Brazzaville)': {'Lat': -0.228, 'Long': 15.8277},
 'Congo (Kinshasa)': {'Lat': -4.0383, 'Long': 21.7587},
 'Costa Rica': {'Lat': 9.7489, 'Long': -83.7534},
 "Cote d'Ivoire": {'Lat': 7.54, 'Long': -5.5471},
 'Croatia': {'Lat': 45.1, 'Long': 15.2},
 'Cuba': {'Lat': 21.521757, 'Long': -77.781167},
 'Cyprus': {'Lat': 35.1264, 'Long': 33.4299},
 'Czechia': {'Lat': 49.8175, 'Long': 15.473},
 'Denmark': {'Lat': 56.2639, 'Long': 9.5018},
 'Diamond Princess': {'Lat': 0.0, 'Long': 0.0},
 'Djibouti': {'Lat': 11.8251, 'Long': 42.5903},
 'Dominica': {'Lat': 15.415, 'Long': -61.371},
 'Dominican Republic': {'Lat': 18.7357, 'Long': -70.1627},
 'Ecuador': {'Lat': -1.8312, 'Long': -78.1834},
 'Egypt': {'Lat': 26.820553, 'Long': 30.802498},
 'El Salvador': {'Lat': 13.7942, 'Long': -88.8965},
 'Equatorial Guinea': {'Lat': 1.6508, 'Long': 10.2679},
 'Eritrea': {'Lat': 15.1794, 'Long': 39.7823},
 'Estonia': {'Lat': 58.5953, 'Long': 25.0136},
 'Eswatini': {'Lat': -26.5225, 'Long': 31.4659},
 'Ethiopia': {'Lat': 9.145, 'Long': 40.4897},
 'Fiji': {'Lat': -17.7134, 'Long': 178.065},
 'Finland': {'Lat': 61.92411, 'Long': 25.748151},
 'France': {'Lat': 46.2276, 'Long': 2.2137},
 'Gabon': {'Lat': -0.8037, 'Long': 11.6094},
 'Gambia': {'Lat': 13.4432, 'Long': -15.3101},
 'Georgia': {'Lat': 42.3154, 'Long': 43.3569},
 'Germany': {'Lat': 51.165691, 'Long': 10.451526},
 'Ghana': {'Lat': 7.9465, 'Long': -1.0232},
 'Greece': {'Lat': 39.0742, 'Long': 21.8243},
 'Grenada': {'Lat': 12.1165, 'Long': -61.679},
 'Guatemala': {'Lat': 15.7835, 'Long': -90.2308},
 'Guinea': {'Lat': 9.9456, 'Long': -9.6966},
 'Guinea-Bissau': {'Lat': 11.8037, 'Long': -15.1804},
 'Guyana': {'Lat': 4.860416, 'Long': -58.93018},
 'Haiti': {'Lat': 18.9712, 'Long': -72.2852},
 'Holy See': {'Lat': 41.9029, 'Long': 12.4534},
 'Honduras': {'Lat': 15.2, 'Long': -86.2419},
 'Hungary': {'Lat': 47.1625, 'Long': 19.5033},
 'Iceland': {'Lat': 64.9631, 'Long': -19.0208},
 'India': {'Lat': 20.593684, 'Long': 78.96288},
 'Indonesia': {'Lat': -0.7893, 'Long': 113.9213},
 'Iran': {'Lat': 32.427908, 'Long': 53.688046},
 'Iraq': {'Lat': 33.223191, 'Long': 43.679291},
 'Ireland': {'Lat': 53.1424, 'Long': -7.6921},
 'Israel': {'Lat': 31.046051, 'Long': 34.851612},
 'Italy': {'Lat': 41.87194, 'Long': 12.56738},
 'Jamaica': {'Lat': 18.1096, 'Long': -77.2975},
 'Japan': {'Lat': 36.204824, 'Long': 138.252924},
 'Jordan': {'Lat': 31.24, 'Long': 36.51},
 'Kazakhstan': {'Lat': 48.0196, 'Long': 66.9237},
 'Kenya': {'Lat': -0.0236, 'Long': 37.9062},
 'Kiribati': {'Lat': -3.3704, 'Long': -168.734},
 'Korea, South': {'Lat': 35.907757, 'Long': 127.766922},
 'Kosovo': {'Lat': 42.602636, 'Long': 20.902977},
 'Kuwait': {'Lat': 29.31166, 'Long': 47.481766},
 'Kyrgyzstan': {'Lat': 41.20438, 'Long': 74.766098},
 'Laos': {'Lat': 19.85627, 'Long': 102.495496},
 'Latvia': {'Lat': 56.8796, 'Long': 24.6032},
 'Lebanon': {'Lat': 33.8547, 'Long': 35.8623},
 'Lesotho': {'Lat': -29.61, 'Long': 28.2336},
 'Liberia': {'Lat': 6.428055, 'Long': -9.429499},
 'Libya': {'Lat': 26.3351, 'Long': 17.228331},
 'Liechtenstein': {'Lat': 47.14, 'Long': 9.55},
 'Lithuania': {'Lat': 55.1694, 'Long': 23.8813},
 'Luxembourg': {'Lat': 49.8153, 'Long': 6.1296},
 'MS Zaandam': {'Lat': 0.0, 'Long': 0.0},
 'Madagascar': {'Lat': -18.766947, 'Long': 46.869107},
 'Malawi': {'Lat': -13.2543, 'Long': 34.3015},
 'Malaysia': {'Lat': 4.210484, 'Long': 101.975766},
 'Maldives': {'Lat': 3.2028, 'Long': 73.2207},
 'Mali': {'Lat': 17.570692, 'Long': -3.996166},
 'Malta': {'Lat': 35.9375, 'Long': 14.3754},
 'Marshall Islands': {'Lat': 7.1315, 'Long': 171.1845},
 'Mauritania': {'Lat': 21.0079, 'Long': -10.9408},
 'Mauritius': {'Lat': -20.348404, 'Long': 57.552152},
 'Mexico': {'Lat': 23.6345, 'Long': -102.5528},
 'Micronesia': {'Lat': 7.4256, 'Long': 150.5508},
 'Moldova': {'Lat': 47.4116, 'Long': 28.3699},
 'Monaco': {'Lat': 43.7333, 'Long': 7.4167},
 'Mongolia': {'Lat': 46.8625, 'Long': 103.8467},
 'Montenegro': {'Lat': 42.708678, 'Long': 19.37439},
 'Morocco': {'Lat': 31.7917, 'Long': -7.0926},
 'Mozambique': {'Lat': -18.665695, 'Long': 35.529562},
 'Namibia': {'Lat': -22.9576, 'Long': 18.4904},
 'Nepal': {'Lat': 28.1667, 'Long': 84.25},
 'Netherlands': {'Lat': 52.1326, 'Long': 5.2913},
 'New Zealand': {'Lat': -40.9006, 'Long': 174.886},
 'Nicaragua': {'Lat': 12.865416, 'Long': -85.207229},
 'Niger': {'Lat': 17.607789, 'Long': 8.081666},
 'Nigeria': {'Lat': 9.082, 'Long': 8.6753},
 'North Macedonia': {'Lat': 41.6086, 'Long': 21.7453},
 'Norway': {'Lat': 60.472, 'Long': 8.4689},
 'Oman': {'Lat': 21.512583, 'Long': 55.923255},
 'Pakistan': {'Lat': 30.3753, 'Long': 69.3451},
 'Palau': {'Lat': 7.515, 'Long': 134.5825},
 'Panama': {'Lat': 8.538, 'Long': -80.7821},
 'Papua New Guinea': {'Lat': -6.314993, 'Long': 143.95555},
 'Paraguay': {'Lat': -23.4425, 'Long': -58.4438},
 'Peru': {'Lat': -9.19, 'Long': -75.0152},
 'Philippines': {'Lat': 12.879721, 'Long': 121.774017},
 'Poland': {'Lat': 51.9194, 'Long': 19.1451},
 'Portugal': {'Lat': 39.3999, 'Long': -8.2245},
 'Qatar': {'Lat': 25.3548, 'Long': 51.1839},
 'Romania': {'Lat': 45.9432, 'Long': 24.9668},
 'Russia': {'Lat': 61.52401, 'Long': 105.318756},
 'Rwanda': {'Lat': -1.9403, 'Long': 29.8739},
 'Saint Kitts and Nevis': {'Lat': 17.357822, 'Long': -62.782998},
 'Saint Lucia': {'Lat': 13.9094, 'Long': -60.9789},
 'Saint Vincent and the Grenadines': {'Lat': 12.9843, 'Long': -61.2872},
 'Samoa': {'Lat': -13.759, 'Long': -172.1046},
 'San Marino': {'Lat': 43.9424, 'Long': 12.4578},
 'Sao Tome and Principe': {'Lat': 0.1864, 'Long': 6.6131},
 'Saudi Arabia': {'Lat': 23.885942, 'Long': 45.079162},
 'Senegal': {'Lat': 14.4974, 'Long': -14.4524},
 'Serbia': {'Lat': 44.0165, 'Long': 21.0059},
 'Seychelles': {'Lat': -4.6796, 'Long': 55.492},
 'Sierra Leone': {'Lat': 8.460555, 'Long': -11.779889},
 'Singapore': {'Lat': 1.2833, 'Long': 103.8333},
 'Slovakia': {'Lat': 48.669, 'Long': 19.699},
 'Slovenia': {'Lat': 46.1512, 'Long': 14.9955},
 'Solomon Islands': {'Lat': -9.6457, 'Long': 160.1562},
 'Somalia': {'Lat': 5.152149, 'Long': 46.199616},
 'South Africa': {'Lat': -30.5595, 'Long': 22.9375},
 'South Sudan': {'Lat': 6.877, 'Long': 31.307},
 'Spain': {'Lat': 40.463667, 'Long': -3.74922},
 'Sri Lanka': {'Lat': 7.873054, 'Long': 80.771797},
 'Sudan': {'Lat': 12.8628, 'Long': 30.2176},
 'Summer Olympics 2020': {'Lat': 35.6491, 'Long': 139.7737},
 'Suriname': {'Lat': 3.9193, 'Long': -56.0278},
 'Sweden': {'Lat': 60.128161, 'Long': 18.643501},
 'Switzerland': {'Lat': 46.8182, 'Long': 8.2275},
 'Syria': {'Lat': 34.802075, 'Long': 38.996815},
 'Taiwan*': {'Lat': 23.7, 'Long': 121.0},
 'Tajikistan': {'Lat': 38.861, 'Long': 71.2761},
 'Tanzania': {'Lat': -6.369028, 'Long': 34.888822},
 'Thailand': {'Lat': 15.870032, 'Long': 100.992541},
 'Timor-Leste': {'Lat': -8.874217, 'Long': 125.727539},
 'Togo': {'Lat': 8.6195, 'Long': 0.8248},
 'Tonga': {'Lat': -21.179, 'Long': -175.1982},
 'Trinidad and Tobago': {'Lat': 10.6918, 'Long': -61.2225},
 'Tunisia': {'Lat': 33.886917, 'Long': 9.537499},
 'Turkey': {'Lat': 38.9637, 'Long': 35.2433},
 'US': {'Lat': 40.0, 'Long': -100.0},
 'Uganda': {'Lat': 1.373333, 'Long': 32.290275},
 'Ukraine': {'Lat': 48.3794, 'Long': 31.1656},
 'United Arab Emirates': {'Lat': 23.424076, 'Long': 53.847818},
 'United Kingdom': {'Lat': 55.3781, 'Long': -3.436},
 'Uruguay': {'Lat': -32.5228, 'Long': -55.7658},
 'Uzbekistan': {'Lat': 41.377491, 'Long': 64.585262},
 'Vanuatu': {'Lat': -15.3767, 'Long': 166.9592},
 'Venezuela': {'Lat': 6.4238, 'Long': -66.5897},
 'Vietnam': {'Lat': 14.058324, 'Long': 108.277199},
 'West Bank and Gaza': {'Lat': 31.9522, 'Long': 35.2332},
 'Yemen': {'Lat': 15.552727, 'Long': 48.516388},
 'Zambia': {'Lat': -13.133897, 'Long': 27.849332},
 'Zimbabwe': {'Lat': -19.015438, 'Long': 29.154857}}